#patients_list {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  overflow-y: auto;
}

#patients_details {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 70%;
  background-color: #d8d8d8;
}

#patients_edit {
  position: fixed;
  width: 25%;
  left: 37.5%;
  top: 35%;
  background-color: white;
  border: 1px solid black;
  border-radius: 2%;
}

#details {
    position: fixed;
    top: 0;
    width: 70%;
    height: 40%;
    overflow-y: auto;
}

#diagnoses {
  position: fixed;
  width: 40%;
  height: 60%;
  bottom: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  overflow-y: auto;
}

#add-diagnose {
  position: fixed;
  width: 30%;
  height: 60%;
  bottom: 0;
  right: 0;
  border-top: 1px solid black;
  overflow-y: auto;
}

.newPatientButton td {
  border-bottom: 1px solid purple;
  background-color: #eff5ff;
  font-weight: bold;
  text-transform: uppercase;
}

td.actions-td, th.actions-td {
  border-left: 1px solid #e2e2e2;
}

.disabled-patients_list {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  background-color: #777777;
  opacity: .6;
}

.table-hover tbody tr:hover td {
  cursor: pointer;
}

.table-hover tbody tr:hover td {
  background-color: #c9c9c9;
}

.n70 {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.patient-option {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
